@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body {
  font-family: "Bricolage Grotesque", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));


::-webkit-scrollbar {
    display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-new(root) {
    z-index: 9999;
}

::view-transition-old(root) {
    z-index: 1;
}